h1 {
  padding-left: 10px;
}
.flex-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  background-color: #fff;
  transition: all 0.3s ease;
}

.foto-usuario {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.card-name {
  margin: 5px;
}

.edit-icon {
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
}

.edit-icon:hover {
  filter: grayscale(100%);
  transition: all 500ms;
}
